<ion-view>
  <!--header-->
  <ion-header-bar align-title="center" class="hm-bar-assertive">
    <h1 class="title">求购列表</h1>
    <div class="buttons">
      <!--筛选-->
      <button class="button" ng-click="openPopover($event)">筛选</button>
    </div>
  </ion-header-bar>
  <ion-content class="bg-color-main">
    <!--下拉刷新-->
    <ion-refresher></ion-refresher>
  </ion-content>

  <script id="my-popover.html" type="text/ng-template">
    <ion-popover-view class="col-50 shopping-popover" style="height: 24%;background-color: #535353;">
      <ion-content >
        <!--筛选模版-->
        <div class="shopping-status" ng-click="clickStatus(item.value)" ng-repeat="item in items" ng-bind="item.name">
        </div>
      </ion-content>
    </ion-popover-view>

  </script>
</ion-view>
