<ion-view>
  <!--header-->
  <ion-header-bar align-title="center" class="hm-bar-assertive shopping-title">
    <h1 class="title ">求购列表</h1>
    <div class="buttons">
      <!--筛选-->
      <div class="button icon-left ion-arrow-down-b" ng-click="openPopover($event)">筛选</div>
    </div>
  </ion-header-bar>
  <ion-content class="bg-color-main" >
    <!--下拉刷新-->
    <ion-refresher pulling-text="refresher" on-refresh="doRefresh()"></ion-refresher>

    <div class="bg-color-white margin-big-bottom hm-home-card-groups" ng-repeat="item in userInfoitems ">
      <div class="hm-home-card" ui-sref="shopDetail({detailId:item.userInfo.userName})">
        <div class="row padding-big-horizontal text-size-small">
          <div class="col col-20 col-center no-padding">
            <div class="col col-80 col-offset-10 no-padding col-center">
              <img src="img/adam.jpg" class="hm-border-round margin-normal-top">
            </div>
          </div>
          <div class="col col-80 col-center">
            <p class="color-dark-strong margin-normal-bottom text-overflow" >
              <span class="shop-nike" ng-bind="item.userInfo.userName"></span>
              <span class="shop-status" ng-bind="analysisStatus(item.productInfo.productStatus)"></span>
            </p>
            <p class="color-dark-thin no-margin-bottom shop-time" ng-bind="getTime(item.productInfo.productPublishTime)"></p>
          </div>
        </div>
        <p class="shop-title">[求购]标题</p>
        <p class="shop-content">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
        <div class="row text-size-smaller color-dark-strong shop-bottom">
          <div class="col col-60 text-overflow color-positive">
            <i class="icon iconfont ion-hm-normal-local"></i>来自<span ng-bind="zxItem.productInfo.productCity"></span>
          </div>
          <div class="col col-40 text-right padding-big-right">
            <i class="icon iconfont ion-hm-normal-local margin-small-right"></i><span ng-bind="zxItem.productInfo.readers"></span>
            <i class="icon iconfont ion-hm-normal-local margin-small-right margin-big-left"></i><span ng-bind="zxItem.productInfo.replays"></span>
          </div>
        </div>
      </div>
    </div>

    <!--上拉刷新-->
    <ion-infinite-scroll on-infinite="loadMore()" distance="1%" immediate-check="false"></ion-infinite-scroll>
  </ion-content>

  <script id="my-popover.html" type="text/ng-template">
    <ion-popover-view class="col-50 shopping-popover" style="height: 24%;background-color: #535353;">
      <ion-content >
        <!--筛选模版-->
        <p class="shopping-status" ng-click="clickStatus(item.value)" ng-repeat="item in items" ng-bind="item.name">
        </p>
      </ion-content>
    </ion-popover-view>

  </script>
</ion-view>
