<ion-view>
  <ion-header-bar align-title="center" class="hm-bar-assertive">
    <h1 class="title">禾苗</h1>
    <div class="buttons">
      <button class="button" ng-click="goSearch()"><i class="icon iconfont ion-hm-search"></i></button>
    </div>
    <div class="address" ng-click="openModal(3)"><span ng-bind="location"></span><i class="icon iconfont ion-hm-arrow-down"></i></div>
  </ion-header-bar>
  <div class="hm-zs-header"></div>
  <ion-content class="bg-color-main main-content">
    <!-- <ion-refresher
       pulling-text="下拉刷新..."
       on-refresh="doRefresh()">
     </ion-refresher>-->

    <div id="bdMap" class="hide"></div>

    <div class="swiper-container swiper-ad-home margin-big-bottom">
      <div class="swiper-wrapper">
        <div class="swiper-slide" ng-repeat="ad in ads track by $index"><a class="bg-img" id="adImage{{$index}}" ng-style="resizeImage('adImage{{$index}}',ad.imageUrl,'3:1')"></a></div>
      </div>
      <div class="swiper-pagination swiper-pagination-ad-home">
      </div>
    </div>

    <div class="bg-color-white padding-horizontal">
      <div class="row hm-border-normal-bottom">
        <div class="col"><div class="text-center"><i class="icon iconfont ion-hm-tuijian hm-home-type bg-color-yellow"></i></div><div class="text-center color-dark-normal margin-small-top">官方推荐</div></div>
        <div class="col"><div class="text-center"><i class="icon iconfont ion-hm-pram hm-home-type bg-color-main-green"></i></div><div class="text-center color-dark-normal margin-small-top">宝宝用品</div></div>
        <div class="col"><div class="text-center"><i class="icon iconfont ion-hm-skin hm-home-type bg-color-main-red"></i></div><div class="text-center color-dark-normal margin-small-top">妈妈商品</div></div>
        <div class="col"><div class="text-center"><i class="icon iconfont ion-hm-jujia hm-home-type bg-color-main-brown"></i></div><div class="text-center color-dark-normal margin-small-top">居家商品</div></div>
      </div>
      <div class="row padding-big-top">
        <div class="col col-25 hm-border-normal-right">
          <div class="col-80 col-offset-10">
            <img ng-src="img/test/qg.png">
          </div>
        </div>
        <div class="col">
          <a class="swiper-container swiper-qg-home block color-dark-strong no-text-decoration"  href="#/tabs/shopping">
            <div class="swiper-wrapper">
              <div class="swiper-slide" ng-repeat="qgItems in qgGroups track by $index">
                <p class="hm-home-qg-item" ng-repeat="qgItem in qgItems track by $index"><span ng-bind="qgItem.special"></span><span ng-bind="qgItem.title"></span></p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="hm-home-zx">
      <div class="line"></div>
      <div class="title">最新商品</div>
    </div>

    <div class="hm-home-card-groups bg-color-white margin-big-bottom">
      <div class="hm-home-card no-text-decoration" ng-repeat="zxItem in zxItems track by $index" ui-sref="productDetail({detailId:zxItem.productInfo.id})">
        <div class="row padding-big-horizontal text-size-small">
          <div class="col col-20 col-center no-padding">
            <div class="col col-80 col-offset-10 no-padding col-center">
              <div class="hm-border-round margin-normal-top bg-img" id="userImage{{$index}}" ng-style="resizeImage('userImage{{$index}}',zxItem.userInfo.userHeaderImage,'1:1')"></div>
            </div>
          </div>
          <div class="col col-80 col-center">
            <p class="color-dark-strong margin-normal-bottom text-overflow" ng-bind="zxItem.userInfo.userName"></p>
            <p class="color-dark-thin no-margin-bottom text-overflow" ng-bind="getTime(zxItem.productInfo.productPublishTime)"></p>
          </div>
        </div>
        <div class="row padding-normal-top">
          <div class="col col-33 padding-small-horizontal no-padding-bottom" ng-repeat="productImage in zxItem.productInfo.productImages track by $index">
            <div class="bg-img" id="productImage{{$parent.$index+''+$index}}" ng-style="resizeImage('productImage{{$parent.$index+''+$index}}',productImage.imgUrl,'1:1')"></div>
          </div>
        </div>
        <p class="padding-big-horizontal margin-small-bottom color-dark-strong text-max-height-normal text-size-normal" ng-bind="zxItem.productInfo.productTitle"></p>
        <p class="padding-big-horizontal color-assertive no-margin-bottom text-size-normal">
          <i class="icon iconfont ion-hm-tag margin-normal-right"></i>
          <span ng-if="zxItem.productInfo.productPriceSale !== ''"><span ng-bind="zxItem.productInfo.productPriceSale"></span>
             <s class="margin-normal-left text-size-smaller" ng-bind="zxItem.productInfo.productPrice"></s>
          </span>
          <span ng-if="zxItem.productInfo.productPriceSale === ''"><span ng-bind="zxItem.productInfo.productPrice"></span>
          </span>
        </p>
        <div class="row text-size-smaller color-dark-strong">
          <div class="col col-60 text-overflow color-positive">
            <i class="icon iconfont ion-hm-normal-local"></i>来自<span ng-bind="zxItem.productInfo.productCity"></span>
          </div>
          <div class="col col-40 text-right padding-big-right">
            <i class="icon iconfont ion-hm-normal-local margin-small-right"></i><span ng-bind="zxItem.productInfo.readers"></span>
            <i class="icon iconfont ion-hm-normal-local margin-small-right margin-big-left"></i><span ng-bind="zxItem.productInfo.replays"></span>
          </div>
        </div>
      </div>
    </div>

    <ion-infinite-scroll
      on-infinite="loadMore()"
      distance="1%"
      immediate-check="false">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
