<ion-tabs class="tabs-icon-top hm-tabs ">
  <!-- Home Tab -->
  <ion-tab title="首页" icon="iconfont ion-hm-home" href="#/tabs/home">
    <ion-nav-view name="tabs-home"></ion-nav-view>
  </ion-tab>

  <!-- Buy Tab -->
  <ion-tab title="求购" icon="iconfont ion-hm-shopping" href="#/tabs/shopping">
    <ion-nav-view name="tabs-shopping"></ion-nav-view>
  </ion-tab>

  <!-- Publish Tab -->
  <ion-tab title="发布" icon="iconfont ion-hm-add icon-center" ng-click="openModal(1)" class="hm-tab-item-publish">
  </ion-tab>

  <!-- Message Tab -->
  <ion-tab title="消息" icon="iconfont ion-hm-message"href="#/tabs/message" badge="2" badge-style="hm-tab-badge">
    <ion-nav-view name="tabs-message"></ion-nav-view>
  </ion-tab>

  <!-- Personal Tab -->
  <ion-tab title="我的" icon="iconfont ion-hm-personal" href="#/tabs/personal">
    <ion-nav-view name="tabs-personal"></ion-nav-view>
  </ion-tab>

</ion-tabs>
