<ion-header-bar align-title="center" class="hm-bar-assertive item-input-inset">
  <div class="buttons margin-normal-right">
    <button class="button color-dark-normal"><i class="icon iconfont ion-ios-arrow-back"></i></button>
  </div>
  <label class="item-input-wrapper bg-color-white">
    <select>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="4">4</option>
    </select>
    <input type="text" placeholder="输入城市名或首字母查询" class="text-center" ng-model="citySearch">
    <span class="margin-normal-left"><i class="icon ion-close-circled"></i></span>
  </label>
</ion-header-bar>
