<ion-view>
  <ion-header-bar >
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="shopBack()" ></button>
      <h1 class="title">求购</h1>
      <button class="button button-icon icon ion-ios-more"></button>
  </ion-header-bar>
  <ion-content class="bg-color-main">
    <div class="bg-color-white margin-big-bottom hm-home-card-groups" >
      <div class="row shop-detail-title" >
        <span class="col col-70">[求购]标题</span>
        <span class="col col-20 icon ion-ios-eye-outline">1234</span>
      </div>
      <div class="row" style="background-color: #F1F1F1"></div>
      <div class="row" style="margin-top:5px;padding:0px;">
        <div class="col col-20 col-center no-padding">
          <div class="col col-80 col-offset-10 no-padding col-center">
            <img src="img/adam.jpg" class="hm-border-round margin-normal-top">
          </div>
        </div>
        <div class="col col-50 col-center">
          <p class="color-dark-strong margin-normal-bottom text-overflow" >
            <span class="shop-nike" >张三</span>
          </p>
        </div>
        <div class="col col-30 col-center">
          <div class="shop-contact button icon">联系TA</div>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="shop-button" style="padding:0px;">
      <div class="col col-20 button button-icon icon ion-chatbubble-working" ></div>
      <div class="col col-20 button button-icon icon ion-arrow-graph-up-right"></div>
      <div class="col col-20 button button-icon icon ion-share">分享</div>
      <div class="col col-40 button shop-recommend">推荐给TA</div>
  </ion-footer-bar>
</ion-view>
