<ion-view>
  <ion-header-bar >
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="shopBack()" ></button>
      <h1 class="title">求购</h1>
      <button class="button button-icon icon ion-ios-more"></button>
  </ion-header-bar>
  <ion-content class="bg-color-main">
    <div class="bg-color-white margin-big-bottom hm-home-card-groups" >
      <div class="row shop-detail-title" >
        <span class="col col-70">[求购]标题</span>
        <span class="col col-20 icon ion-ios-eye-outline">1234</span>
      </div>
      <div class="row shop-interval"></div>
      <!--用户信息-->
      <div class="row shop-userInfo" >
        <div class="col col-20 col-center no-padding">
          <div class="col col-80 col-offset-10 col-center">
            <img src="img/adam.jpg" class="hm-border-round margin-normal-top">
          </div>
        </div>
        <div class="col col-50 col-center">
          <p class="color-dark-strong margin-normal-bottom text-overflow" >
            <span class="shop-nike" >张三</span>
          </p>
        </div>
        <div class="col col-30 col-center">
          <div class="shop-contact button icon">联系TA</div>
        </div>
      </div>
      <!--内容-->
      <p class="shop-detail-content">
        内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
        内容内容内容内容内容
      </p>
      <p class="shop-detail-time">
        4小时前
      </p>
      <!--地址-->
      <div class="row text-size-smaller color-dark-strong shop-detail-bottom">
        <div class="col col-60 text-overflow color-positive no-padding no-margin">
          <i class="icon iconfont ion-hm-normal-local "></i>来自<span >12121|sds</span>
        </div>
      </div>
      <div class="row shop-interval"></div>
      <div class="row" ng-show="{{isShow}}" >
        <div class="col col-80">
          <p class="authority-recommend">
            官方推荐
          </p>
          <p class="recommend-content">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
        </div>
        <div class="col col-20 col-center">
          <div class="shop-detail-recommendImg ">
            <img src="img/ben.png" >
          </div>
        </div>
      </div>
      <div class="row shop-interval"></div>
      <div class="shop-container">
        <div class="shop-replay-left">
          <div class="row shop-replay" >
            <div class="col  col-20  ">
              <img src="img/adam.jpg" class="hm-border-round margin-normal-top ">
            </div>
            <div class="col col-80 col-center">
              <p class="color-dark-strong margin-normal-bottom text-overflow" >
                <span class="shop-nike"  >张三</span>
                <span class="shop-time" >
                  4小时前
                </span>
              </p>
            </div>
          </div>
          <div class="row ">
            <div class="col col-center">
              <p class="shop-detail-content">
                内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                内容内容内容内容内容
              </p>
            </div>
          </div>
        </div>
        <div class="shop-replay-right">

        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="shop-button" style="padding:0px;">
      <div class="col col-20 button button-icon icon ion-chatbubble-working" ></div>
      <div class="col col-20 button button-icon icon ion-arrow-graph-up-right"></div>
      <div class="col col-20 button button-icon icon ion-share">分享</div>
      <div class="col col-40 button shop-recommend">推荐给TA</div>
  </ion-footer-bar>
</ion-view>
